.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-header {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
  animation-duration: 0.75s;
  /* animation-timing-function: ease; */
  animation-delay: 0s;
  /* animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running; */
  animation-name: slideInLeft;
  position: relative;
}

.header-bar {
  height: 4px;
  width: 70px;
  background-color: #0d1011;
  margin: auto;
  animation-duration: 1.25s;
  /* animation-timing-function: ease; */
  animation-delay: 0s;
  /* animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running; */
  animation-name: slideInLeftBar;
  position: relative;
}
/* @media screen and (min-width: 992px) {
    @keyframes slideInLeft {
      50% {
        right: 300px;
        opacity: 0.5;
      }
      100% {
        right: 0px;
        opacity: 1;
      }
    }
  
    @keyframes slideInLeftBar {
      50% {
        right: 300px;
        opacity: 0;
      }
      100% {
        right: 0px;
        opacity: 1;
      }
    }
  } */

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-60 {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-icons-outlined.md-18 {
  font-size: 18px;
}
.material-icons-outlined.md-24 {
  font-size: 24px;
}
.material-icons-outlined.md-36 {
  font-size: 36px;
}
.material-icons-outlined.md-48 {
  font-size: 48px;
}

.material-icons-outlined.md-60 {
  font-size: 60px;
}

.material-icons-two-tone.md-18 {
  font-size: 18px;
}
.material-icons-two-tone.md-24 {
  font-size: 24px;
}
.material-icons-two-tone.md-36 {
  font-size: 36px;
}
.material-icons-two-tone.md-48 {
  font-size: 48px;
}

.material-icons-two-tone.md-60 {
  font-size: 60px;
}

.material-icons-round.md-18 {
  font-size: 18px;
}
.material-icons-round.md-24 {
  font-size: 24px;
}
.material-icons-round.md-36 {
  font-size: 36px;
}
.material-icons-round.md-48 {
  font-size: 48px;
}

.material-icons-round.md-60 {
  font-size: 60px;
}
